{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Каталог книг на дату издания: {{ date }}</h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
            </div>
            {% endfor %}
        </div>
            <a href="/books/{{ date_before }}">⟵ {{ date_before }} &nbsp</a>
            <a href="/books/{{ date_after }}">&nbsp {{ date_after }} ⟶</a>
    </div>
{% endblock %}